doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Computer Controller
    script(src="/public/main.js") 
    link(rel="stylesheet", href="/public/main.css")
  body 
    section
      form#execForm
        header Computer Controller

        .form-group
          label(for="command") Command: 
          input#command(type="text", name="command")

          button#btnSubmit(type="submit") Exec

    section
      .output#output

    script.
      const execForm = document.querySelector("#execForm");
      execForm.onsubmit = onSubmitCommand;
      