#execForm {
  padding: 1em;
  border: solid 1px #ddd;
  background-color: #eee;

  header {
    font-size: 25px;
    font-weight: 600;
    margin: 1em 0.5em;
  }

  .form-group {
    display: flex;
    justify-content: start;
    align-items: center;

    input {
      padding: 0.5em;
      border-radius: 3px;
      border: none;
    }

    #btnSubmit {
      border: solid 1px #555;
      color: darkgreen;
      padding: 0.25em 1em;
      margin: 0 0.5em;
    }
  }
}

#output {
  border: solid 1px darkgreen;
  background-color: #eeeeee;

  message {
    display: block;
    font-family: monospace;
    margin: 0.2em 0.5em;
    padding: 0.25em;
    background-color: lightcyan;
    color: green;
  }
}
